@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: Panthera;
    src: url(./Fonts/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: Wakanda-forever;
    src: url(./Fonts/WakandaFanther-JRpp7.ttf);
}
@font-face {
    font-family: Beyno;
    src: url(./Fonts/BEYNO.ttf);
}

:root{
    --violet--:#5e51b8;
    --bleu--: #07338c;
    --blue--: #021740;
    --pink--: #e7caf0;
    --pink-light--:#cfc9cf;
    --violet-light--: #c6bfd3;
    --white--:#faf4f4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: Panthera;
    font-size: 68px;
    color: var(--violet--);
}

h2{
    font-family: Wakanda-forever;
    font-size: 43px;
    color: var(--violet--);
}

h3{
    font-family: Beyno;
    font-size: 32px;
    color: var(--violet--);
}

h4{
    color: var(--violet--);
}

q{
    font-size: 14px;
}

body{
   background-image: url(./Assets/All\ pages/arrière_plan.png);
   color: white;
   font-family: Cantarell;
   font-size: 16px;
}

.container{
    width: 80%; 
    margin: 0 auto;
}
   

/* header*/
header{
    max-width: 80%;
    margin-right:auto;
    margin-left: auto;
    font-family: Beyno;
    font-size: 20px;
}

nav{
    display: flex;
    align-items: center;
    width: 60%;
    padding: 30px 0 10px;
}

nav .logo{
    width: 170px
}

nav ul{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    text-align: right;
}

nav ul li{
    list-style: none;
    margin-left: 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: var(--violet--);
}

.logo:hover{
    color: var(--violet--);
}

.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 60px;
    top: 230px;
}


/* Design de la section première page*/
.div1, .div2{
    display: inline-block;
}

#hero .h2, h1{
    color: var(--violet--);
}
.h3{
    color: var(--violet--);
}

#div1 .text-content{
    text-align: left;
}

span{
    text-decoration: underline;
}


#hero img{
    width: 950px;
}

.div1{
    display: flexbox;
    top: 300px;
    bottom: 300px;
    padding-top: 200px;
    padding-bottom: 200px;

}

/*deuxième section*/
.personnage-black{
    display: inline-block;
    width: 40%;    
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.personnage-item{
    display: inline-block;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
 
/*Troisième section*/
.histoire-tchalla{
    display: inline-block;
    width: 60%;
    padding: 10px;
}

.flex-right{
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.flex-right .h3{
    text-align: center;
}
.challa{ 
    background-color: var(--white--);
    margin-top: 10px;
}

.btn{
    text-decoration: none;
    color: var(--white--);
    font-size: 16px;
    margin-top: 10px;
    background: var(--violet--);
    justify-content: space-between;
}
/*La quatrième section concernant le formulaire*/
#contact .titre{
    font-family: Cantarell;
    font-size: 30px;
    font-weight:bold;
}
.form{
    background: linear-gradient(
       80deg, var(--white--), var(--pink-light--)
    ) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    height: 500px;
    border-radius: 20px;
    border-left: 1px solid var(--white--);
    border-top: 1px solid var(--white--);
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

input, textarea{
    background: linear-gradient(
        80deg, var(--white--), var(--pink-light--)
     ) ;
    border-color: var(--blue--);
    border-width: 1px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    padding: 1rem;
    width: 200px;
    margin-bottom: 2px;
}

input [button]{
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    width: 150px;
    background: var(--pink--);
}

#contact{
    background: url(./Assets/Accueil/Pantherhome7.png);
    background-size: cover;
}

  /* Footer */
footer{
    margin-top: 162px;
    background: url(./Assets/All\ pages/back_footer.png);
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}
