@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: Panthera;
    src: url(./Fonts/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: Wakanda-forever;
    src: url(./Fonts/WakandaFanther-JRpp7.ttf);
}
@font-face {
    font-family: Beyno;
    src: url(./Fonts/BEYNO.ttf);
}

:root{
    --violet--:#3D2DA6;
    --bleu--: #07338c;
    --blue--: #021740;
    --pink--: #DF99F2;
    --pink-light--:#cfc9cf;
    --violet-light--: #c6bfd3;
    --white--:#faf4f4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: Panthera;
    font-size: 68px;
}

h2{
    font-family: Wakanda forever;
    font-size: 43px;
}

q{
    font-size: 14px;
}

body{
   background-image: url(./Assets/All\ pages/arrière_plan.png);
   color: white;
   font-family: Cantarell;
   font-size: 16px;
}

.container{
    width: 80%; 
    margin: 0 auto;
}
   

/* header*/
header{
    max-width: 80%;
    margin-right:auto;
    margin-left: auto;
    font-family: Beyno;
    font-size: 20px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    padding: 30px 0 10px;
}

nav .logo{
    width: 170px
}

nav ul{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-left: 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: var(--violet--);
}

.logo:hover{
    color: var(--violet--);
}

.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 60px;
    top: 230px;
}


/* Design de la section première page*/

    

/*deuxième section*/
.personnage-black{
    display: block;
    position: relative;
    justify-content: space-between
}
.personnage-item{
    display: flex;
    background-color: var(--blue--);
    justify-content: center
}

/*La troisième section*/
.histoire .flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .histoire .flex-left {
    width: 75%;
    margin: 5px;
    padding: 5px;
    border: none;
    display: grid;
    place-items: center;
  }
  
  .histoire .flex-right {
    width: 25%;
    margin: 5px;
    padding: 5px;
    border: none;
    display: grid;
    place-items: center;
  }


  /*La quatrième section concernant le formulaire*/
.form{
    background: linear-gradient(
       80deg, var(--white--), var(--pink-light--)
    ) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid var(--white--);
    border-top: 1px solid var(--white--);
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

h2{
    color: var(--blue--);
    font-weight: 500;
}

p{
    color: var(--blue--);
}

placeholder{
    color: var(--blue--);
}

input{
    background: linear-gradient(
        80deg, var(--white--), var(--pink-light--)
     ) ;
    border-color: var(--blue--);
    border-width: 1px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    padding: 1rem;
    width: 200px;
    margin-bottom: 2px;
}

input [button]{
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    width: 150px;
    background: var(--pink--);
}

#contact{
    background: url(./Assets/Accueil/Pantherhome7.png);
    background-size: cover;
}

  /* Footer */
footer{
    margin-top: 162px;
    background: url(./Assets/All\ pages/back_footer.png);
    display: flex;
    justify-content: center;
    align-items: center ;
}

footer h3{
    display: flex;
    font-size: 22px;
    letter-spacing: 28%;
}

footer .text-footer{
    text-align: center;
    font-size: 14px;
}

footer .social-footer{
    text-align: center;
    margin: auto 50px 0;
    display: flex;
}

footer .social item{
    padding: 15px;
}

footer .legal-footer{
    display: flex;
}